.wrap {
	display: flex;
	height: 156px;
	justify-content: space-between;
	align-items: center;
	margin-left: 70px;
	margin-right: 40px;
}
ul {
	width: 580px;
	height: 48px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
ul > li a {
	font-size: 16px;
	color: #252b42;
	text-decoration: none;
	font-family: SemiBold;
}
ul > li a:hover {
	color: #fa4a0c;
}
